<!DOCTYPE html>
<html>
  <head>
    <title>About</title>

    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <nav>
      <a href="/"><div class="nav-link">Home</div></a>
      <a href="/about"><div class="nav-link">About</div></a>
      <a href="/dogs"><div class="nav-link">Dogs</div></a>
      <a href="/contact"><div class="nav-link">Contact</div></a>
    </nav>

    <div class="center-wrapper">
        <table>
          <tr>
            <th>This</th>
            <th>is</th>
            <th>a</th>
          </tr>
          <tr>
            <th>TA</th>
            <th>BL</th>
            <th>E</th>
          </tr>
        </table>
    
        <ol>
          <h3>Recipes</h3>
          <li><a href="https://www.allrecipes.com/recipe/254817/lemon-dill-salmon-with-garlic-white-wine-and-butter-sauce/?internalSource=rotd&referringContentType=Homepage&clickId=cardslot%201">Lemon Dill Salmon with Garlic, White Wine, and Butter Sauce</a></li>
          <li><a href="https://www.allrecipes.com/recipe/132511/homemade-chicken-parmigiana/?clickId=right%20rail1&internalSource=rr_feed_recipe_sb&referringId=254817%20referringContentType%3Drecipe">Homeade Chicken Parmigiana</a></li>
          <li><a href="https://www.allrecipes.com/recipe/17678/chocolate-applesauce-cake-iii/">Chocolate Applesauce Cake</a></li>
          <li><a href="https://www.allrecipes.com/recipe/268285/cardamom-and-espresso-chocolate-chip-cookies/?internalSource=staff%20pick&referringId=362&referringContentType=Recipe%20Hub">Cardamom and Espresso Choco Chip Cookies</a></li>
        </ol>

        <ol>
          <h3>Things that are yummy:</h3>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li style="color: green;">All of the above</li>
        </ol>
    
        <ul>
          <li>I</li>
          <li>Don't</li>
          <li>Know</li>
          <li>What</li>
          <li>To</li>
          <li>Put</li>
          <li>Here</li>
        </ul>
    </div>
  </body>
</html>
